body{
  background-color: #E6E6E6;
}
.vacio{
  padding-top: 15%;
  padding-left: 30%;
  width: 75%;
  text-align: center;
  font-size: 40px;
}
.Habtd{
  padding-left: 40px;
}


.sw{
  width: 100%;
}
.btnswich{
  text-align: right;
  padding-top: 10px;
}


/* Formatea el label que servirá de contenedor */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}
 
/* Ocultar el checkbox html */
.switch input {
  display:none;
}
 
/* Formatea la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
 
/* Pinta la perilla de control o slider usando el selector before */
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 
/* Cambia el color de fondo cuando el checkbox esta activado */
input:checked + .slider {
  background-color: #004dda;
}
 
/* Desliza el slider a la derecha cuando el checkbox esta activado */ 
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
 
/* Aplica efecto de bordes redondeados en slider y en el fondo del slider */
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;
}
